bidict==0.23.1
blinker==1.7.0
click==8.1.7
Flask==3.0.2
Flask-Login==0.6.3
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
itsdangerous==2.1.2
python-engineio==4.9.0
python-socketio==5.11.2
simple-websocket==1.0.0
SQLAlchemy==2.0.29
Werkzeug==3.0.2
wsproto==1.2.0
