html, body{
    height: 100%;
}

.container{
    margin: 0 auto;
    width: 500px;
    justify-content: center;
}
/* End */
.grid{
    margin: 0 auto;
    width: 600px;
    height: 600px;
    justify-content: center;
}

div.msg_bbl {
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 10px;
    color: #555;
    margin-bottom: 5px;
  }
  div.message_content{
      margin-top: 20px;
      margin-right: 20px;
      place-items: center;
  }