* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 14s linear infinite;
}   


.background li:nth-child(0) {
    left: 15%;
    width: 180px;
    height: 180px;
    bottom: -180px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 61%;
    width: 114px;
    height: 114px;
    bottom: -114px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    left: 72%;
    width: 182px;
    height: 182px;
    bottom: -182px;
    animation-delay: 1s;
}
.background li:nth-child(3) {
    left: 57%;
    width: 188px;
    height: 188px;
    bottom: -188px;
    animation-delay: 12s;
}
.background li:nth-child(4) {
    left: 24%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 4s;
}
.background li:nth-child(5) {
    left: 70%;
    width: 191px;
    height: 191px;
    bottom: -191px;
    animation-delay: 1s;
}
.background li:nth-child(6) {
    left: 22%;
    width: 193px;
    height: 193px;
    bottom: -193px;
    animation-delay: 16s;
}
.background li:nth-child(7) {
    left: 5%;
    width: 170px;
    height: 170px;
    bottom: -170px;
    animation-delay: 7s;
}
.background li:nth-child(8) {
    left: 63%;
    width: 154px;
    height: 154px;
    bottom: -154px;
    animation-delay: 13s;
}
.background li:nth-child(9) {
    left: 76%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 45s;
}

.background {
    z-index: 1;
}

.display-text {
    position: relative;
    z-index: 2;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-text h1 {
    font-family: "Playfair Display";
    font-size: 10em;
    font-weight: bold;
}

.display-text p {
    font-size: x-large;
}

.redirect {
    width: 100%;
    display: flex;
    justify-content: center;
}

.display-text a {
    margin: 10px;
    width: 300px;
    height: 50px;
    font-size: large;
    font-weight:bold;
    text-align: center;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 20pt;
    box-shadow: 0 5px 5px 0 rgba(65, 65, 65, 0.2), 0 6px 20px 0 rgba(65, 65, 65, 0.2);
}

.display-text a:hover {
    text-decoration: none;
    width: 400px;
    box-shadow: 0 5px 5px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.2);

}

@media only screen and (max-width: 600px) {    
    .display-text h1 {
        font-size: 6em;
    }
    
    .display-text p {
        font-size: 1em;
    }
    
    .redirect {
        flex-direction: column;
        align-items: center;
    }
    
    .display-text a {
        font-size: 1em;
        width: 80%;
        height: max-content;
    }

    .display-text a:hover {
        width: 85%;
        height: max-content;
    }
}

