{% extends 'base.html' %}
{% block content %}
    <div class="container">
        {% include '_message.html'%}
        <form action="/add_members" method="POST">
            <label for="">Adding Room Members</label>
            <div class="form-group">
                <label for="">room name</label>
                <input type="text" name="room_name" class="form-control" placeholder="Enter the room name">
            </div>
            <div class="form-group">
                <label for="">usernames</label>
                <input type="text" name="usernames" class="form-control mb-4" placeholder="Enter the usernames">
                <input type="submit" class="form-control btn btn-success" value="add">
            </div>
            
        </form>
    </div>
    
{% endblock %}