{% extends 'base.html' %}

{% include '_navbar.html'%}
{% block content %}
</head>

<body>
  <div class="text-center well alert alert-secondary"><b>Welcome to private Chat__<i> {{current_user.username}}</i> </b>
  </div>

  <div class="list-group container">
    {% include '_message.html'%}
    <div class="list-group">
      <a href="" class="list-group-item disabled" style="justify-content: center;">Members</a>
    </div>
    {% for users in all_names %}
    {% if users %}
    <div class="list-group">
      <a href="/chat_private/{{users.friend_name}}/"
        class="p list-group-item list-group-item-action">{{users.friend_name}}</a>
    </div>
    {% else %}
    <div class="text-center well alert alert-secondary"><b>Your have frinds to display kindly goto back and add friend
    </div>
    {% endif %}

    {% endfor %}
  </div>

  <script>

    var email = `{{current_user.email}}`;
    $(document).ready(function () {
      var socket = io.connect('http://127.0.0.1:5000/private')
      socket.emit('username', email);
      $('.p').click(function (e) {
        $('#txt1').val($(this).text());
      });
      $('#p').click(function () {
        socket.emit('username', $(this).text());
      });
    });
  </script>


  {% endblock %}