{% extends 'base.html' %}
{% include '_navbar.html'%}

{% block content%}
<div class="container">
    <!-- for now session id is needed until i fix messaging with sockets -->
    <form action="/sign_up" method="POST">
        {% include '_message.html'%}
        <div class="form-group">
            <label for="">security key</label>
            <input type="text" name="sessionid" class="form-control" placeholder="Enter the security key...">
        </div>
        <div class="form-group">
            <label for="">username</label>
            <input type="text" name="user_username" class="form-control" placeholder="Enter the Username">
        </div>

        <div class="form-group">
            <label for="">password</label>
            <input type="password" class="form-control" name="user_password" placeholder="Enter the Password">
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" name="Email" class="form-control" placeholder="Enter the Email">
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary form-control" value="save">
        </div>
    </form>

</div>
{% endblock%}