{% block content %}
<div class="chat-area flex-1 flex flex-col w-3/4 mr-2" style="height: 91vh;">
    {% if room %}
    <div class="flex-3">
        <h2 class="text-xl py-1 mb-8 border-b-2 border-gray-200 flex justify-between items-center">
            <span>You are Chatting in <b>{{ room.name }}</b></span>

            <div class="icons-container flex mr-5 gap-3">
                <!-- dont forget to fix hover -->
                <a>
                    <i class="fas fa-trash text-red-500" style="font-size:20px"></i>
                </a>
                <a>
                    <i class="fas fa-edit" style="font-size:20px;color:#1E90FF;"></i>
                </a>
                <a href="/add_members">
                    <i class="fas fa-user-plus text-green-500" style="font-size:20px;"></i>
                </a>
            </div>
        </h2>

    </div>
    <div class="messages flex-1 overflow-y-scroll  px-10">
        {% for message in messages %}
        {% if message.sender_name == current_user.username %}
        <div class="message grid place-items-end gap-x-3 pt-1 pb-1" style="grid-template-columns: 80px 1fr auto;">
            <div class="col-start-3 row-span-2 w-10 relative inline-flex self-end">
                <div class="w-10 rounded-full block" style="aspect-ratio: 1/1; overflow: hidden;">
                    <img alt="chat-user" src="https://avatars.githubusercontent.com/u/10018{{current_user.id}}"
                        style="object-fit: cover;" />
                    <span
                        class="absolute w-4 h-4 bg-gray-400 rounded-full right-0 bottom-0 border-2 border-white"></span>
                </div>
            </div>

            <div class="col-start-2 row-start-1 text-xs leading-5">
                {{message.sender_name}}
            </div>
            <div class="col-start-2 max-w-90 min-w-11 min-h-11 rounded-2xl relative block pt-2 pb-2 pl-4 pr-4 bg-blue-500 text-white"
                style="width: fit-content; border-end-end-radius: 0px;">
                {{message.message}}
            </div>
            <div class="chat-footer opacity-50 col-start-2 row-start-3 text-xs">
                sent at: <time class="text-xs opacity-50">{{message.created_at}}</time>
            </div>
        </div>
        {% else %}
        <div class="message grid place-items-start gap-x-3 pt-1 pb-1" style="grid-template-columns: auto 1fr 80px;">
            <div class="col-start-1 row-span-2 w-10 relative inline-flex self-end">
                <div class="w-10 rounded-full block" style="aspect-ratio: 1/1; overflow: hidden;">
                    <img alt="chat-user" src="https://avatars.githubusercontent.com/u/10018{{message.sender_id}}"
                        style="object-fit: cover;" />
                    <span
                        class="absolute w-4 h-4 bg-gray-400 rounded-full right-0 bottom-0 border-2 border-white"></span>
                </div>
            </div>

            <div class="col-start-2 row-start-1 text-xs leading-5">
                {{message.sender_name}}
            </div>
            <div class="col-start-2 max-w-90 min-w-11 min-h-11 rounded-2xl relative block pt-2 pb-2 pl-4 pr-4 bg-gray-300"
                style="width: fit-content; border-end-start-radius: 0px;">
                {{message.message}}
            </div>
            <div class="chat-footer opacity-50 col-start-2 row-start-3 text-xs">
                sent at: <time class="text-xs opacity-50">{{message.created_at}}</time>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="flex-2  pb-5">
        <div class="write bg-white shadow flex rounded-lg ">
            <div class="flex-3 flex content-center items-center text-center p-4 pr-0">
            </div>
            <div class="flex-1">
                <input type="text" class="w-full block outline-none py-4 px-4 bg-transparent"
                    placeholder="Type Your Message Here...." id="txt2" autocomplete="off">
            </div>
            <div class="flex-2 w-32 p-2 flex content-center items-center justify-end">
                <div class="flex-1 text-center">
                    <span class="text-gray-400 hover:text-gray-800">
                        <span class="inline-block align-text-bottom">
                            <i class="fas fa-heart text-md"></i>
                        </span>
                    </span>
                </div>
                <div class="flex-1">
                    <button class="bg-blue-500 w-10 h-10 rounded-full inline-block" id="send1">
                        <span class="inline-block align-text-bottom">
                            <i class="fa fa-paper-plane text-white text-md center"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="flex flex-col items-center justify-center h-full">
        <div class="bg-white rounded-lg shadow-md p-8 max-w-md text-center">
            <span class="text-6xl text-gray-400 mb-4 transition-transform transform hover:scale-110">
                <i class="far fa-comment-dots text-6xl text-gray-400"></i>
            </span>
            <p class="text-gray-600 text-lg mt-4">You do not have a chat selected. Please create
                or select one.</p>
        </div>
    </div>
    {% endif %}
</div>




<div id="deleteModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
    <div class="bg-white p-8 rounded-lg shadow-md max-w-md">
        <h2 class="text-lg font-semibold mb-4">Are you sure you want to delete?</h2>
        <div class="flex justify-end">
            <button id="deleteYes" class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded mr-2">Yes</button>
            <button id="deleteNo" class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded">No</button>
        </div>
    </div>
</div>

<div id="updateModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
    <div class="bg-white p-8 rounded-lg shadow-md max-w-md">
        <h2 class="text-lg font-semibold mb-4">Update Room Name</h2>
        <input type="text" id="newRoomName" class="w-full block outline-none py-2 px-4 bg-gray-100 mb-4"
            placeholder="Enter new room name...">
        <div class="flex justify-end">
            <button id="updateRoom"
                class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded mr-2">Update</button>
            <button id="cancelUpdate"
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded">Cancel</button>
        </div>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', () => {
        const updateButton = document.querySelector('.fa-edit');
        const updateModal = document.getElementById('updateModal');
        const updateRoomButton = document.getElementById('updateRoom');
        const cancelUpdateButton = document.getElementById('cancelUpdate');

        updateButton.addEventListener('click', () => updateModal.classList.remove('hidden'));
        cancelUpdateButton.addEventListener('click', () => updateModal.classList.add('hidden'));

        updateRoomButton.addEventListener('click', () => {
            const newRoomName = document.getElementById('newRoomName').value;
            fetch(window.location.pathname, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ new_room_name: newRoomName })
            })
                .then(response => {
                    if (response.ok)
                        window.location.href = "/chat/" + newRoomName;
                    else
                        alert("Error updating room name");
                })
                .catch(error => console.error('Error:', error));
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const deleteButton = document.querySelector('.fa-trash');
        const deleteModal = document.getElementById('deleteModal');
        const deleteYesButton = document.getElementById('deleteYes');
        const deleteNoButton = document.getElementById('deleteNo');

        deleteButton.addEventListener('click', () => deleteModal.classList.remove('hidden'));
        deleteNoButton.addEventListener('click', () => deleteModal.classList.add('hidden'));
        deleteYesButton.addEventListener('click', () => {
            fetch(window.location.pathname, { method: 'DELETE' })
                .then(response => response.ok ? window.location.href = "/chat" : alert("Error deleting room"))
                .catch(error => console.error('Error:', error));
        });
    });
</script>


{% endblock %}