{% extends 'base.html' %}


{% include '_navbar.html'%}
{% block content %}
<div class="container">
    <form action="/create_room" method="POST" class="myform">
        {% include '_message.html'%}
        <div class="form-group">
            <label for="">Enter the room names</label>
                <input type="text" name="room_name" placeholder="Enter the room name" class="mb-2">
            <button type="submit" class="btn btn-success">create</button>
        </div>
    </form>
</div>
{% endblock %}