{% extends 'base.html'%}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        {% if message %}
            <div id="alert" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <script>
                $('.close').click(function(){
                    $('#alert').hide(1000);
                });
            </script>
          {% endif %}
        {% endfor %}
      {% endif %}  
    {% endwith %}

{% endblock %}

