{% block content %}
<div class="search-box p-4 flex-none">
    <form>
        <div class="relative">
            <label>
                <input id="searchInput"
                    class="rounded-full py-2 pr-6 pl-10 w-full border border-blue-800 focus:border-blue-700 bg-blue-100 focus:bg-blue-200 focus:outline-none text-gray-800 focus:shadow-md transition duration-300 ease-in"
                    type="text" value="" placeholder="Search Messenger" oninput="searchRooms(this.value)" />
                <span class="absolute top-0 left-0 mt-2 ml-3 inline-block">
                    <svg viewBox="0 0 24 24" class="w-6 h-6 text-blue-500">
                        <path fill="currentColor"
                            d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
                    </svg>
                </span>
            </label>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    function searchRooms(query) {
        query = query.toLowerCase().trim();
        const roomList = document.getElementById('roomList');
        const rooms = roomList.getElementsByClassName('contact-item');

        Array.from(rooms).forEach(function (room) {
            const roomName = room.querySelector('.room-name').textContent.toLowerCase();
            room.style.display = (roomName.includes(query)) ? '' : 'none';
        });
    }
</script>
{% endblock %}