{% extends 'base.html' %}


{% include '_navbar.html'%}

{% block content %}
<div class="container">

  <form action="{{url_for('login')}}" method="POST" class="myform">
    {% include '_message.html'%}
    <div class="form-group">
      <label for="">Username</label>
      <input type="text" name="user_name" id="username" class="form-control" placeholder="Enter the Username">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input type="text" name="pass_word" id="password" class="form-control" placeholder="Enter the Password">
    </div>
    <input type="submit" value="login" class="btn btn-outline-primary login">
    <p>Dont have an account? click <a href="/signup">here</a> to Register </p>
  </form>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  body {
    background-color: #08408b;
  }

  .container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  }

  p {
    text-align: center;
    padding-top: 1.5rem;
  }

  * {
    font-family: 'Poppins', 'Segoe UI';
    font-weight: 500;
  }

  .container .btn {
    color: #08408b;
    border: none;
    padding: 10px 45%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .form-group label {
    font-weight: bold;
  }

  .container .btn:hover {
    background-color: #08408b;
    color: white;
  }

  .form-control {
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.7);
  }
</style>

{% endblock %}