{% extends 'auth.html' %}

{% block content %}
<div class="relative min-h-screen flex">
  <div
    class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 bg-white">
    <div
      class="sm:w-1/2 xl:w-3/5 h-full hidden md:flex flex-auto items-center justify-center p-10 overflow-hidden bg-blue-900 text-white bg-no-repeat bg-cover relative">
      <div class="absolute bg-gradient-to-b from-blue-600 to-blue-100 opacity-75 inset-0 z-0"></div>
      <div class="w-full max-w-md z-10">
        <div class="sm:text-4xl xl:text-5xl font-bold leading-tight mb-6">Welcome Back!</div>
        <div class="sm:text-sm xl:text-md text-gray-200 font-normal">Sign In To Chat With Friends</div>
      </div>
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div
      class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full xl:w-2/5 p-8 md:p-10 lg:p-14 sm:rounded-lg md:rounded-none bg-white">
      <div class="max-w-md w-full space-y-8">
        <div class="text-center">
          <h2 class="mt-6 text-3xl font-bold text-gray-900">Welcome Back!</h2>
          <p class="mt-2 text-sm text-gray-500">Sign In To Chat With Friends</p>
        </div>

        <form class="mt-8 space-y-6" action="/login" method="POST">
          <input type="hidden" name="remember" value="true">
          <div class="relative">
            <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">Username</label>
            <input
              class="w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-blue-500"
              type="text" name="username" placeholder="Username">
          </div>
          <div class="mt-8 content-center">
            <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">Password</label>
            <input
              class="w-full content-center text-base px-4 py-2 border-b rounded-2xl border-gray-300 focus:outline-none focus:border-blue-500"
              name="password" type="password" placeholder="Enter your password">
          </div>
          <div>
            <button type="submit"
              class="w-full flex justify-center bg-gradient-to-r from-blue-500 to-blue-600 hover:bg-gradient-to-l hover:from-blue-500 hover:to-blue-600 text-gray-100 p-4 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500">Log
              In</button>
          </div>
          <p class="flex flex-col items-center justify-center mt-10 text-center text-md text-gray-500">
            <span>Don't have an account yet?</span>
            <a class="text-blue-400 hover:text-blue-500 no-underline hover:underline cursor-pointer transition ease-in duration-300"
              href="/signup">Sign Up</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}